<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
      <add key="server" value="dsn-czc2325tm5"/>
      <add key="port_1" value="18513"/>
	  <add key="port_2" value="18514"/>
    </appSettings>
</configuration>